$font-family-sans: "DejaVu Sans", "Open Sans", Arial, Helvetica, sans-serif;
$font-family-serif: "DejaVu Serif", serif;
$font-family-mono: "DejaVu Sans Mono", Consolas, "Courier New", monospace;
//
$font-size: 1rem;
$line-height: 1.5;
//
$margin: $font-size * .25;
$margin-1: $font-size * .5;
$margin-2: $font-size * .75;
$margin-3: $font-size;
//
$padding: $font-size * .25;
$padding-1: $font-size * .5;
$padding-2: $font-size * .75;
$padding-3: $font-size;
//
$border-width: $font-size * 0.05;
$border-bar-width: $padding-1;
//
$border-radius: $font-size * .25;
//
$default: #fff;
// $default: #202124;
//$default: #141516;
$primary: #a0a;
// $primary: #30c31b;
// $primary: #e04028;
$info: #2c8cff;
$success: #47c06e;
$warning: #cac215;
$error: #ff3044;
//
$colors: (
  "default": $default,
  "primary": $primary,
  "error": $error,
  "info": $info,
  "success": $success,
  "warning": $warning
);
