$font-family-sans: "DejaVu Sans", "Open Sans", Arial, Helvetica, sans-serif;
$font-family-serif: "DejaVu Serif", serif;
$font-family-mono: "DejaVu Sans Mono", Consolas, "Courier New", monospace;
//
$default: #fff;
// $default: #202124;
$default: #141516;
$primary: #a0a;
// $primary: #30c31b;
// $primary: #e04028;
$info: #2c8cff;
$success: #47c06e;
$warning: #cac215;
$error: #ff3044;
