/* Borders */
.border {
  border: $border-width solid autoDarkenLighten($default, 30%) !important;
}

.border-top {
  border-top: $border-width solid autoDarkenLighten($default, 30%) !important;
}

.border-bottom {
  border-bottom: $border-width solid autoDarkenLighten($default, 30%) !important;
}

.border-left {
  border-left: $border-width solid autoDarkenLighten($default, 30%) !important;
}

.border-right {
  border-right: $border-width solid autoDarkenLighten($default, 30%) !important;
}

.border-separated > *:not(:last-child) {
  border-right: $border-width solid autoDarkenLighten($default, 30%);
  border-bottom: $border-width solid autoDarkenLighten($default, 30%);
}

.border-separated-right > *:not(:last-child) {
  border-right: $border-width solid autoDarkenLighten($default, 30%);
}

.border-separated-bottom > *:not(:last-child) {
  border-bottom: $border-width solid autoDarkenLighten($default, 30%);
}

.topbar {
  border-top: $border-bar-width solid $primary !important;
}

.bottombar {
  border-bottom: $border-bar-width solid $primary !important;
}

.bottombar-hover {
  border-bottom: $border-bar-width solid transparent !important;
}

.bottombar-hover:hover {
  border-bottom: $border-bar-width solid $primary !important;
}

.leftbar {
  border-left: $border-bar-width solid $primary !important;
}

.rightbar {
  border-right: $border-bar-width solid $primary !important;
}

.border-0 {
  border: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}
