/* Buttons */
$button-border: $border-width autoDarkenLighten($default, 30%) solid !default;
$button-border-radius: $border-radius !default;
$button-font-family: $font-family-sans !default;
$button-padding: $padding-050 $padding-075 !default;
//$button-box-shadow-focus: inset 0 3px 5px rgba(0, 0, 0, .25) !default;
$button-box-shadow-focus: inset 0 3px 5px rgba(darkLight($default, 90%, 60%), .3) !default;

button,
.btn {
  border: $button-border;
  border-radius: $button-border-radius;
  display: inline-block;
  font-family: $button-font-family;
  padding: $button-padding;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  @include colors(autoDarkenLighten($default, 2%));
  transition: .3s;
  user-select: none;

  &:hover {
    @include colorsHover(autoDarkenLighten($default, 2%));
    border-color: autoDarkenLighten($default, 30%);
    text-decoration: none;
  }

  &:focus,
  &:active,
  &.active {
    @include colorsHover(autoDarkenLighten($default, 2%));
    box-shadow: $button-box-shadow-focus;
  }

  &:active,
  &:not(.disabled),
  &:not(:disabled) {
    transform: translateY(1px);
  }

  &:disabled,
  .disabled {
    cursor: not-allowed;
    opacity: .4;
    box-shadow: none !important;
  }

  &.shadow {
    &.disabled:hover,
    &:disabled:hover {
      box-shadow: none;
    }
  }

  > * {
    vertical-align: middle;
  }
}

// button > *,
// .btn > * {
// 	vertical-align: middle;
// }
// button:hover,
// .btn:hover {
// 	@include colorsHover(autoDarkenLighten($default, 2%));
// 	border-color: autoDarkenLighten($default, 30%);
// 	text-decoration: none;
// }
// button:focus,
// button.active,
// button:active,
// .btn:focus,
// .btn.active,
// .btn:active {
// 	box-shadow: inset 0 3px 5px rgba(0,0,0,.25);
// }
// button:active,
// .btn:active,
// button:not(.disabled),
// button:not(:disabled),
// .btn:not(.disabled),
// .btn:not(:disabled) {
//   transform: translateY(1px);
// }
// button:disabled,
// .btn:disabled,
// .disabled {
// 	cursor: not-allowed;
// 	opacity: .4;
// 	box-shadow: none !important;
// }
.disabled *,
:disabled * {
  pointer-events: none;
}

// button.shadow,
// .btn.shadow {
// 	&.disabled:hover,
// 	&:disabled:hover {
// 		box-shadow: none;
// 	}
// }
.badge,
.tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: .53rem;
  padding-right: .53rem;
  text-align: center;
}

.badge {
  border-radius: 50%;
}
