/* Colors */
@each $name, $color in $colors {
  .#{$name} {
    @include colors($color);
    border-color: autoDarkenLighten($color, 30%);

    h1, h2, h3, h4, h5, h6 {
      color: pick-visible-color($color, #000, #fff);
    }
  }
  .#{$name}-hover:hover,
  button.#{$name}:hover,
  .btn.#{$name}:hover {
    @include colorsHover($color);
    border-color: autoDarkenLighten($color, 30%);
  }
  .text-#{$name} {
    color: $color !important;
  }
  a.text-#{$name}:hover {
    color: pick-visible-color($default, darken($color, 10%), lighten($color, 10%)) !important;
  }
  .border-#{$name} {
    border-color: $color !important;
  }
}
