/* Dropdowns */
.dropdown {
  display: inline-block;
  cursor: pointer;
  //overflow: hidden;
  &:hover {
    .dropdown-content,
    .dropdown-content-mega {
      display: block;
    }
  }
}

.dropdown-content,
.dropdown-content-mega {
  cursor: auto;
  background-color: $default;
  display: none;
  position: absolute;
  min-width: 10.6rem;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.dropdown-content-mega {
  width: 100%;
  left: 0;
}
