/* Forms */
$input-padding: $padding-050 $padding-075 !default;
$input-border: $border-width solid autoDarkenLighten($default, 50%) !default;
$input-border-radius: $border-radius !default;
$input-box-shadow: inset 0 ($font-size * .2) ($font-size * .2) rgba(darkLight($default, 30%, 20%), .3) !default;
$input-box-shadow-focus: 0 0 0 ($font-size * .2) rgba(darkLight($primary, 30%, 20%), .3) !default;
//
input,
select,
textarea {
  padding: $input-padding;
  //margin-top: .05rem;
  display: block;
  border: $input-border;
  border-radius: $input-border-radius;
  width: 100%;
  color: autoDarkenLighten($default, 80%);
  background-color: darkLight($default, 10%, 1%);
  transition: .3s;
  box-shadow: $input-box-shadow;

  &:focus {
    border-color: $primary;
    background-color: darkLight($default, 15%, 3%);
    outline: 0;
    box-shadow: $input-box-shadow-focus;
  }

  @each $name, $color in $colors {
    &:focus.border-#{$name} {
      box-shadow: 0 0 0 ($font-size * .2) rgba(darkLight($color, 30%, 20%), .3);
    }
  }
}

// select {
// 	//padding: .56rem 0;
// // TODO: usar triangulo com mesma cor do texto
// // 	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
// // 	background-repeat: no-repeat, repeat;
// // 	background-position: right .7em top 50%, 0 0;
// // 	background-size: .65em auto, 100%;
// }
[type=checkbox],
[type=radio] {
  width: $font-size;
  height: $font-size;
  vertical-align: top;
  margin-top: ($line-height - $font-size) * .5;
}

label {
  font-weight: 500;
  //margin-top: 1.06rem;
}

legend {
  border: $border-width solid autoDarkenLighten($default, 30%);
  padding: $padding-050 $padding-075;
}

fieldset {
  border: $border-width solid autoDarkenLighten($default, 30%);
  padding: $padding-050;

  &:not(:first-child) {
    margin-top: 1.05rem;
  }
}

