/* Margins */
.mar {
  margin: $margin !important;
}

.mar-1 {
  margin: $margin-1 !important;
}

.mar-2 {
  margin: $margin-2 !important;
}

.mar-3 {
  margin: $margin-3 !important;
}

.mar-t {
  margin-top: $margin !important;
}

.mar-t-1 {
  margin-top: $margin-1 !important;
}

.mar-t-2 {
  margin-top: $margin-2 !important;
}

.mar-t-3 {
  margin-top: $margin-3 !important;
}

.mar-b {
  margin-bottom: $margin !important;
}

.mar-b-1 {
  margin-bottom: $margin-1 !important;
}

.mar-b-2 {
  margin-bottom: $margin-2 !important;
}

.mar-b-3 {
  margin-bottom: $margin-3 !important;
}

.mar-l {
  margin-left: $margin !important;
}

.mar-l-1 {
  margin-left: $margin-1 !important;
}

.mar-l-2 {
  margin-left: $margin-2 !important;
}

.mar-l-3 {
  margin-left: $margin-3 !important;
}

.mar-r {
  margin-right: $margin !important;
}

.mar-r-1 {
  margin-right: $margin-1 !important;
}

.mar-r-2 {
  margin-right: $margin-2 !important;
}

.mar-r-3 {
  margin-right: $margin-3 !important;
}
