/* Paddings */
.pad,
.pad-1 {
  padding: $padding-025 !important;
}

.pad-2 {
  padding: $padding-050 !important;
}

.pad-3 {
  padding: $padding-075 !important;
}

.pad-4 {
  padding: $padding-100 !important;
}

.pad-8 {
  padding: $padding-200 !important;
}

.pad-v,
.pad-v-1 {
  padding-top: $padding-025 !important;
  padding-bottom: $padding-025 !important;
}

.pad-v-2 {
  padding-top: $padding-050 !important;
  padding-bottom: $padding-050 !important;
}

.pad-v-3 {
  padding-top: $padding-075 !important;
  padding-bottom: $padding-075 !important;
}

.pad-v-4 {
  padding-top: $padding-100 !important;
  padding-bottom: $padding-100 !important;
}

.pad-v-8 {
  padding-top: $padding-200 !important;
  padding-bottom: $padding-200 !important;
}

.pad-h,
.pad-h-1 {
  padding-left: $padding-025 !important;
  padding-right: $padding-025 !important;
}

.pad-h-2 {
  padding-left: $padding-050 !important;
  padding-right: $padding-050 !important;
}

.pad-h-3 {
  padding-left: $padding-075 !important;
  padding-right: $padding-075 !important;
}

.pad-h-4 {
  padding-left: $padding-100 !important;
  padding-right: $padding-100 !important;
}

.pad-h-8 {
  padding-left: $padding-200 !important;
  padding-right: $padding-200 !important;
}

.pad-t,
.pad-t-1 {
  padding-top: $padding-025 !important;
}

.pad-t-2 {
  padding-top: $padding-050 !important;
}

.pad-t-3 {
  padding-top: $padding-075 !important;
}

.pad-t-4 {
  padding-top: $padding-100 !important;
}

.pad-t-8 {
  padding-top: $padding-200 !important;
}

.pad-b,
.pad-b-1 {
  padding-bottom: $padding-025 !important;
}

.pad-b-2 {
  padding-bottom: $padding-050 !important;
}

.pad-b-3 {
  padding-bottom: $padding-075 !important;
}

.pad-b-4 {
  padding-bottom: $padding-100 !important;
}

.pad-b-8 {
  padding-bottom: $padding-200 !important;
}

.pad-l,
.pad-l-1 {
  padding-left: $padding-025 !important;
}

.pad-l-2 {
  padding-left: $padding-050 !important;
}

.pad-l-3 {
  padding-left: $padding-075 !important;
}

.pad-l-4 {
  padding-left: $padding-100 !important;
}

.pad-l-8 {
  padding-left: $padding-200 !important;
}

.pad-r,
.pad-r-1 {
  padding-right: $padding-025 !important;
}

.pad-r-2 {
  padding-right: $padding-050 !important;
}

.pad-r-3 {
  padding-right: $padding-075 !important;
}

.pad-r-4 {
  padding-right: $padding-100 !important;
}

.pad-r-8 {
  padding-right: $padding-200 !important;
}

