.cell-row {
	display: table;
	width: 100%;
}

.cell {
	display: table-cell;
}

.cell-top {
	vertical-align: top;
}

.cell-middle {
	vertical-align: middle;
}

.cell-bottom {
	vertical-align: bottom;
}
