/* Colors */
@each $name, $color in $colors {
  .#{$name} {
    @include colors($color);
    border-color: autoDarkenLighten($color, 30%);
  }
  .#{$name}-hover:hover,
  button.#{$name}:hover,
  .btn.#{$name}:hover {
    @include colorsHover($color);
    border-color: autoDarkenLighten($color, 30%);
  }
  .text-#{$name} {
    color: $color;
  }
  .border-#{$name} {
    border-color: $color;
  }
}
