input,
select,
textarea {
  padding: .53rem;
  display: block;
  border: .06rem solid autoDarkenLighten($default, 30%);
  border-radius: .26rem;
  width: 100%;
  color: autoDarkenLighten($default, 80%);
  background-color: $default;
  transition: .3s;
  // box-shadow: inset 0 2px 2px rgba(0,0,0,.05);
}

select {
  padding: .56rem 0;
}

input:focus,
select:focus,
textarea:focus {
	border-color: $primary;
	background-color: autoDarkenLighten($default, 2%);
}

[type=checkbox],
[type=radio] {
  width: 1rem;
  height: 1rem;
  position: relative;
  vertical-align: middle;
}

[type=checkbox] {
  margin-top: -.06rem;
}

label {
  font-weight: 500;
  //margin-top: 1.06rem;
}
