/* Margins */
.margin {
	margin: 1.06rem !important;
}

.margin-x {
	margin: 2.13rem !important;
}

.margin-xx {
	margin: 3.2rem !important;
}

.margin-top {
	margin-top: 1.06rem !important;
}

.margin-top-x {
	margin-top: 2.13rem !important;
}

.margin-top-xx {
	margin-top: 3.2rem !important;
}

.margin-bottom {
	margin-bottom: 1.06rem !important;
}

.margin-bottom-x {
	margin-bottom: 2.13rem !important;
}

.margin-bottom-xx {
	margin-bottom: 3.2rem !important;
}

.margin-left {
	margin-left: 1.06rem !important;
}

.margin-left-x {
	margin-left: 2.13rem !important;
}

.margin-left-xx {
	margin-left: 3.2rem !important;
}

.margin-right {
	margin-right: 1.06rem !important;
}

.margin-right-x {
	margin-right: 2.13rem !important;
}

.margin-right-xx {
	margin-right: 3.2rem !important;
}
