.padding {
  padding: .26rem .26rem !important;
}

.padding-x {
  padding: .53rem .53rem !important;
}

.padding-xx {
  padding: .8rem .8rem !important;
}

.padding-xxx {
  padding: 1.06rem 1.06rem !important;
}
