.padding {
	padding: .26rem !important;
}

.padding-x {
	padding: .53rem !important;
}

.padding-xx {
	padding: .8rem !important;
}

.padding-xx {
	padding: 1.06rem !important;
}

.padding-top {
	padding-top: .26rem !important;
}

.padding-top-x {
	padding-top: .53rem !important;
}

.padding-top-xx {
	padding-top: .8rem !important;
}

.padding-bottom {
	padding-bottom: .26rem !important;
}

.padding-bottom-x {
	padding-bottom: .53rem !important;
}

.padding-bottom-xx {
	padding-bottom: .8rem !important;
}

.padding-left {
	padding-left: .26rem !important;
}

.padding-left-x {
	padding-left: .53rem !important;
}

.padding-left-xx {
	padding-left: .8rem !important;
}

.padding-right {
	padding-right: .26rem !important;
}

.padding-right-x {
	padding-right: .53rem !important;
}

.padding-right-xx {
	padding-right: .8rem !important;
}

