/* Paddings */
.pad {
  padding: $padding !important;
}

.pad-1 {
  padding: $padding-1 !important;
}

.pad-2 {
  padding: $padding-2 !important;
}

.pad-3 {
  padding: $padding-3 !important;
}

.pad-t {
  padding-top: $padding !important;
}

.pad-t-1 {
  padding-top: $padding-1 !important;
}

.pad-t-2 {
  padding-top: $padding-2 !important;
}

.pad-t-3 {
  padding-top: $padding-3 !important;
}

.pad-b {
  padding-bottom: $padding !important;
}

.pad-b-1 {
  padding-bottom: $padding-1 !important;
}

.pad-b-2 {
  padding-bottom: $padding-2 !important;
}

.pad-b-3 {
  padding-bottom: $padding-3 !important;
}

.pad-l {
  padding-left: $padding !important;
}

.pad-l-1 {
  padding-left: $padding-1 !important;
}

.pad-l-2 {
  padding-left: $padding-2 !important;
}

.pad-l-2 {
  padding-left: $padding-3 !important;
}

.pad-r {
  padding-right: $padding !important;
}

.pad-r-1 {
  padding-right: $padding-1 !important;
}

.pad-r-2 {
  padding-right: $padding-2 !important;
}

.pad-r-3 {
  padding-right: $padding-3 !important;
}

