/* Rounds */
.round {
	border-radius: .26rem;
}

.round-x {
	border-radius: .53rem;
}

.round-xx {
	border-radius: 1.06rem;
}

.round-xxx {
	border-radius: 2.13rem;
}

.circle {
	border-radius: 50%;
}

.no-round {
	border-radius: 0;
}
