/* Typography */
h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.33rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1.06rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin: .6rem 0;
	color: pick-visible-color($default, darken($default, 85%), lighten($default, 85%));
}

a {
	color: $primary;
	text-decoration: none;
	transition: .3s;
}

a:hover {
	color: 	pick-visible-color($default, darken($primary, 10%), lighten($primary, 10%));
	text-decoration: underline;
}

p {
	margin: 0;
}

p + p {
	margin-top: .8rem;
}

.serif {
	font-family: $font-family-serif;
}

.text-tiny {
	font-size: .66rem !important;
}

.text-small {
	font-size: .8rem !important;
}

.text-medium {
	font-size: 1rem !important;
}

.text-large {
	font-size: 1.2rem !important;
}

.text-large-x {
	font-size: 1.6rem !important;
}

.text-large-xx {
	font-size: 2.4rem !important;
}

.text-large-xxx {
	font-size: 3.2rem !important;
}

.text-jumbo {
	font-size: 4.26rem !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-justify {
	text-align: justify !important;
}

.text-center, .center {
	text-align: center !important;
}

.text-wide {
	letter-spacing: .26rem;
}

pre,
code {
	font-family: $font-family-mono;
	font-size: 1.06rem;
}

pre {
	width: auto;
	background-color: autoDarkenLighten($default, 10%);
	padding: .53rem .8rem;
	border: .06rem solid autoDarkenLighten($default, 30%);
 // border-left: .26rem solid autoDarkenLighten($primary, 5%);
	word-wrap: break-word;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

.section,
section + section,
pre {
	margin-top: 1.06rem !important;
	margin-bottom: 1.06rem !important;
}

:not(pre) > code {
	color: autoDarkenLighten(autoDarkenLighten($default,10%), 80%);
	background-color: autoDarkenLighten($default,10%);
	padding-left: .3rem;
	padding-right: .3rem;
	font-size: 110%;
	border-radius: .5rem;
}

mark {
	@include colors($warning);
	padding-left: .3rem;
	padding-right: .3rem;
}

hr {
		display: block;
		//border: 1px inset;
		margin: 1.06rem 0;
		color: autoDarkenLighten($default, 20%);
		//border: .06rem solid autoDarkenLighten($default, 20%);
}
